@{
    this.ViewData["Title"] = "Home";
}

<section class="hero-wrap js-full-height" style="background-image: url('@Url.Content("~/images/bg_2.jpg")');" data-section="home">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-full-height align-items-center justify-content-end"
             data-scrollax-parent="true">


            <partial name="_RequestAccessPartial" model="@true" />


        </div>
    </div>
</section>
