@{
    this.ViewData["Title"] = "Home Page";
}

<section class="hero-wrap js-full-height" style="background-image: url('images/bg_2.jpg');" data-section="home">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-full-height align-items-center justify-content-end"
             data-scrollax-parent="true">
            <div class="col-md-6 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    Climbing, Passion, Creativity
                </h1>
                <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    Every <span class="font-weight-bold">vertex</span> climbing hold is a piece of art that worships nature and pure imagination.
                </p>
                <p>
                    <a href="#" class="btn btn-primary py-3 px-4" data-toggle="modal" data-target="#modalAppointment">
                        Request Access
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-light" id="technology-section">
    <div class="container">
        <h1>Technology</h1>
        <div class="d-flex row-technology">
            <div class="mr-2 w-50">
                <h5>&#128313; Material</h5>
                <p>Vertex climbing holds are made of <a href="https://en.wikipedia.org/wiki/Polyurethane" target="_blank" rel="noopener">Polyurethane </a>resin. (PU)</p>
                <p style="text-align: justify;">This material has some more advantages compared with <a href="https://en.wikipedia.org/wiki/Polyester" target="_blank" rel="noopener">Polyester </a>(PE)</p>
                <ul>
                    <li>PU is light and flexible and therefore can be used for all type of structure, specific design, and shape</li>
                    <li>PU has better resistance to impacts.</li>
                </ul>
            </div>
            <div class="ml-2 w-50">
                <h5>Polyurethane</h5>
                <br />
                <p>
                    <a href="https://en.wikipedia.org/wiki/Polyurethane" target="_blank" rel="noopener">
                        <img class="w-100" title="Polyurethane synthesis, wherein the urethane groups –NH–(C=O)–O– link the molecular units." src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Polyurethane.png" alt="Polyurethane" /><br />
                    </a>
                </p>
            </div>
        </div>
        <div class="d-flex row-technology">
            <div class="mr-2 w-25 px-3">
                <p>
                    <a href="http://www.dannomond.com" target="_blank" rel="noopener">
                        <img class="w-100" style="margin-top: 20pt;" src="https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomond.png" alt="dannomond" />
                    </a>
                </p>
            </div>
            <div class="ml-2 w-75">
                <p class="text-justify">
                    Vertex climbing holds use the latest, revolutionary formula of <a href="https://en.wikipedia.org/wiki/Polyurethane" target="_blank" rel="noopener">Polyurethane </a>resin <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span>.<br />
                    <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong> </span>is a high-performance pure Polyurethane used primarily in the production of indoor climbing holds. Characteristics like higher wear resistance, bright colors, dry soft texture and superior strength make it the first choice material for Climbing holds. Route setters and gym owners alike appreciate the long life and ease of route setting it imparts in the holds.
                </p>
            </div>
        </div>
        <div class="row-technology">
            <h5 style="margin-left: 20pt;">&#128313; Wear Resistance</h5>
            <p style="margin-left: 20pt; text-align: justify; text-justify: inter-word;">
                <img class="rounded float-right px-3" src="https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomond_wear_resistance-446x315.png" alt="" width="301" height="213" srcset="https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomond_wear_resistance-446x315.png 446w, https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomond_wear_resistance-300x212.png 300w, https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomond_wear_resistance-893x630.png 893w, https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomond_wear_resistance-600x424.png 600w, https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomond_wear_resistance.png 1020w" sizes="(max-width: 301px) 100vw, 301px" /><span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> material combined with a relatively rough texture can create a very long lasting textured hold.<br />
                Until now the main disadvantage of Polyurethane climbing holds in comparison to polyester, has been wear resistance. <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> changes the dynamic.<br />
                The key to developing wear resistant materials is to understand what is happening during the wear process &#8211; when holds are on the climbing wall and being climbed on. Composite X developed a test machine that creates similar conditions to the climbing wall and is able to give a comparative result within an hour. The test samples are worn down. The samples that lose the least mass during the test are the best materials.<br />
                Composite X compared the results of the <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> formula with that of many existing hold formulations and the difference in results were quite revealing.<br />
                Here are a few examples. Results are in mg Loss.
            </p>
            <div style="margin: 0 0 10pt 40pt;">Test sample</div>
            <ul style="margin-left: 60pt;">
                <li>Competitor 1 210mg</li>
                <li>Competitor 2 80mg</li>
                <li>Competitor 3 350mg</li>
                <li>CX 510. 150mg</li>
                <li><span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span>. 15mg</li>
            </ul>
        </div>
        <div class="row-technology">
            <h5 style="margin-left: 20pt;">&#128313; Skin friendly</h5>
            <p style="margin-left: 20pt; text-align: justify;"><span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> wears down your skin less than virtually all other climbing hold materials. This allows for longer training sessions.</p>
        </div>
        <div class="row-technology">
            <h5 style="margin-left: 20pt;">&#128313; Color</h5>
            <p style="margin-left: 20pt; text-align: justify; text-justify: inter-word;">
                <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> is available in 8 bright colors. <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> formula contains a high level of UV stabilizing agent. This gives an excellent Color stability for indoor climbing walls and reasonable outdoor stability.<br />
                <a href="https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomondcolours.jpg" data-toggle="lightbox">
                    <img width="300" src="https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomondcolours-473x315.jpg" class="img-fluid">
                </a>
            </p>
        </div>
        <div class="row-technology">
            <h5 style="margin-left: 20pt;">&#128313; Safety</h5>
            <p style="margin-left: 20pt; text-align: justify;">Safety is built into <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span>. Unlike the majority of materials used for Climbing holds &#8211; <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> will not crack and give rise to a sudden safety issue &#8211; rather it will bend if put under extreme conditions. <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> has extremely high Impact and strength resistance even in badly designed climbing holds. Its superior properties can to some degree absorb and make safe design errors. Holds made from <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> are suitable on almost all surfaces from plywood to concrete.</p>
        </div>
        <div class="row-technology"><p>The use of the first-rate type of polyurethane and careful control of every stage of producing process make Vertex climbing holds of top quality.</p></div>
        <div class="row-technology">
            <h5 style="margin-left: 20pt;">&#128313; Attachment system</h5>
            <div class="d-flex">
                <div class="w-50 pr-4">
                    <p>
                        Bolt<br />
                        <img class="w-75"
                             src="https://www.vertex-holds.com/wp-content/uploads/2016/06/ganoid_05_1600x840-600x315.jpg"
                             alt="technology_bolt">
                    </p>

                </div>
                <div class="w-50">
                    <p>
                        Excavated volumes<br />
                        <img class="w-75" src="https://www.vertex-holds.com/wp-content/uploads/2016/06/ganoid_06_1600x840-600x315.jpg"
                             alt="technology_reducers" />
                    </p>

                </div>
            </div>
            <div class="d-flex">
                <div class="w-50 pr-4">
                    <p style="text-align: justify;">Each one of our climbing holds has its own bolt depending on the depth of the fixation hole. That way the head of the bolt is on the surface of the hold. There is no risk the climber to use the hole where is the bolt in case that the bolt is short and cause himself an injury during his climbing.</p>
                    <p style="text-align: justify;">We offer our sets with bolts with conic head by default. If our clients prefer bolts with cylindrical heads that have to be specified during the ordering process.</p>
                </div>
                <div class="w-50">
                    <p>That reduces their weight and makes them easier for assembling routes on the climbing walls.</p>
                </div>
            </div>
        </div>
        <div class="row-technology">
            <h5 style="margin-left: 20pt;">&#128313; Maintenance</h5>
            <p style="text-align: justify;">Once the holds are screwed into the wall, it is normal for them to become dirty from the hands covered with magnesium and climbing shoes. With time, that can affect the grid quality and the safety and pleasure of your climb. We advise you to check the conditions of the holds and to clean them periodically.</p>
        </div>

    </div>
</section>

<section id="privacy-section" class="ftco-section bg-light">
    <div class="container">
        <h1>Privacy Policy</h1>


        <p>Effective date: July 13, 2019</p>


        <p>VERTEX HOLDS ("us", "we", or "our") operates the vertex-holds.com website (the "Service").</p>

        <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data. Our Privacy Policy for VERTEX HOLDS is created with the help of the <a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator.php">Free Privacy Policy Generator</a>.</p>

        <p>We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from vertex-holds.com</p>


        <h2>Information Collection And Use</h2>

        <p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>

        <h3>Types of Data Collected</h3>

        <h4>Personal Data</h4>

        <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:</p>

        <ul>
            <li>Email address</li>
            <li>Cookies and Usage Data</li>
        </ul>

        <h4>Usage Data</h4>

        <p>We may also collect information how the Service is accessed and used ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>

        <h4>Tracking & Cookies Data</h4>
        <p>We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.</p>
        <p>Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.</p>
        <p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
        <p>Examples of Cookies we use:</p>
        <ul>
            <li><strong>Session Cookies.</strong> We use Session Cookies to operate our Service.</li>
            <li><strong>Preference Cookies.</strong> We use Preference Cookies to remember your preferences and various settings.</li>
            <li><strong>Security Cookies.</strong> We use Security Cookies for security purposes.</li>
        </ul>

        <h2>Use of Data</h2>

        <p>VERTEX HOLDS uses the collected data for various purposes:</p>
        <ul>
            <li>To provide and maintain the Service</li>
            <li>To notify you about changes to our Service</li>
            <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
            <li>To provide customer care and support</li>
            <li>To provide analysis or valuable information so that we can improve the Service</li>
            <li>To monitor the usage of the Service</li>
            <li>To detect, prevent and address technical issues</li>
        </ul>

        <h2>Transfer Of Data</h2>
        <p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
        <p>If you are located outside Bulgaria and choose to provide information to us, please note that we transfer the data, including Personal Data, to Bulgaria and process it there.</p>
        <p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
        <p>VERTEX HOLDS will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>

        <h2>Disclosure Of Data</h2>

        <h3>Legal Requirements</h3>
        <p>VERTEX HOLDS may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
        <ul>
            <li>To comply with a legal obligation</li>
            <li>To protect and defend the rights or property of VERTEX HOLDS</li>
            <li>To prevent or investigate possible wrongdoing in connection with the Service</li>
            <li>To protect the personal safety of users of the Service or the public</li>
            <li>To protect against legal liability</li>
        </ul>

        <h2>Security Of Data</h2>
        <p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>

        <h2>Service Providers</h2>
        <p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>
        <p>These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>

        <h3>Analytics</h3>
        <p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>
        <ul>
            <li>
                <p><strong>Statcounter</strong></p>
                <p>Statcounter is a web traffic analysis tool. You can read the Privacy Policy for Statcounter here: <a href="https://statcounter.com/about/legal/">https://statcounter.com/about/legal/</a></p>
            </li>
        </ul>


        <h2>Links To Other Sites</h2>
        <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
        <p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>


        <h2>Children's Privacy</h2>
        <p>Our Service does not address anyone under the age of 18 ("Children").</p>
        <p>We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</p>


        <h2>Changes To This Privacy Policy</h2>
        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
        <p>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.</p>
        <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>


        <h2>Contact Us</h2>
        <p>If you have any questions about this Privacy Policy, please contact us:</p>
        <ul>
            <li>By email: office@vertexdesign.bg</li>

        </ul>
    </div>
</section>