@{
    Layout = "_LayoutGuest";
    this.ViewData["Title"] = "Home";
}

<div class="w-50 ftco-animate pr-5" data-scrollax=" properties: { translateY: '70%' }">
    
</div>
<div class="w-50 ftco-animate" data-scrollax="properties: { translateY: '70%' }">
    <partial name="_RequestAccessPartial" />
</div>
