<section class="vxp-section bg-light" id="technology-section">
    <div class="container">
        <h1>Technology</h1>
        <div class="d-flex row-technology">
            <div class="mr-2 w-50">
                <h5>&#128313; Material</h5>
                <p>Vertex climbing holds are made of <a href="https://en.wikipedia.org/wiki/Polyurethane" target="_blank" rel="noopener">Polyurethane </a>resin. (PU)</p>
                <p style="text-align: justify;">This material has some more advantages compared with <a href="https://en.wikipedia.org/wiki/Polyester" target="_blank" rel="noopener">Polyester </a>(PE)</p>
                <ul>
                    <li>PU is light and flexible and therefore can be used for all type of structure, specific design, and shape</li>
                    <li>PU has better resistance to impacts.</li>
                </ul>
            </div>
            <div class="ml-2 w-50">
                <h5>Polyurethane</h5>
                <br />
                <p>
                    <a href="https://en.wikipedia.org/wiki/Polyurethane" target="_blank" rel="noopener">
                        <img class="w-100" title="Polyurethane synthesis, wherein the urethane groups –NH–(C=O)–O– link the molecular units." src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Polyurethane.png" alt="Polyurethane" /><br />
                    </a>
                </p>
            </div>
        </div>
        <div class="d-flex row-technology">
            <div class="mr-2 w-25 px-3">
                <p>
                    <a href="http://www.dannomond.com" target="_blank" rel="noopener">
                        <img class="w-100" style="margin-top: 20pt;" src="https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomond.png" alt="dannomond" />
                    </a>
                </p>
            </div>
            <div class="ml-2 w-75">
                <p class="text-justify">
                    Vertex climbing holds use the latest, revolutionary formula of <a href="https://en.wikipedia.org/wiki/Polyurethane" target="_blank" rel="noopener">Polyurethane </a>resin <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span>.<br />
                    <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong> </span>is a high-performance pure Polyurethane used primarily in the production of indoor climbing holds. Characteristics like higher wear resistance, bright colors, dry soft texture and superior strength make it the first choice material for Climbing holds. Route setters and gym owners alike appreciate the long life and ease of route setting it imparts in the holds.
                </p>
            </div>
        </div>
        <div class="row-technology">
            <h5 style="margin-left: 20pt;">&#128313; Wear Resistance</h5>
            <p style="margin-left: 20pt; text-align: justify; text-justify: inter-word;">
                <img class="rounded float-right px-3" src="https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomond_wear_resistance-446x315.png" alt="" width="301" height="213" srcset="https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomond_wear_resistance-446x315.png 446w, https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomond_wear_resistance-300x212.png 300w, https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomond_wear_resistance-893x630.png 893w, https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomond_wear_resistance-600x424.png 600w, https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomond_wear_resistance.png 1020w" sizes="(max-width: 301px) 100vw, 301px" /><span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> material combined with a relatively rough texture can create a very long lasting textured hold.<br />
                Until now the main disadvantage of Polyurethane climbing holds in comparison to polyester, has been wear resistance. <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> changes the dynamic.<br />
                The key to developing wear resistant materials is to understand what is happening during the wear process &#8211; when holds are on the climbing wall and being climbed on. Composite X developed a test machine that creates similar conditions to the climbing wall and is able to give a comparative result within an hour. The test samples are worn down. The samples that lose the least mass during the test are the best materials.<br />
                Composite X compared the results of the <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> formula with that of many existing hold formulations and the difference in results were quite revealing.<br />
                Here are a few examples. Results are in mg Loss.
            </p>
            <div style="margin: 0 0 10pt 40pt;">Test sample</div>
            <ul style="margin-left: 60pt;">
                <li>Competitor 1 210mg</li>
                <li>Competitor 2 80mg</li>
                <li>Competitor 3 350mg</li>
                <li>CX 510. 150mg</li>
                <li><span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span>. 15mg</li>
            </ul>
        </div>
        <div class="row-technology">
            <h5 style="margin-left: 20pt;">&#128313; Skin friendly</h5>
            <p style="margin-left: 20pt; text-align: justify;"><span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> wears down your skin less than virtually all other climbing hold materials. This allows for longer training sessions.</p>
        </div>
        <div class="row-technology">
            <h5 style="margin-left: 20pt;">&#128313; Color</h5>
            <p style="margin-left: 20pt; text-align: justify; text-justify: inter-word;">
                <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> is available in 8 bright colors. <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> formula contains a high level of UV stabilizing agent. This gives an excellent Color stability for indoor climbing walls and reasonable outdoor stability.<br />
                <a href="https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomondcolours.jpg" class="image-popup">
                    <img width="300" src="https://www.vertex-holds.com/wp-content/uploads/2018/07/dannomondcolours-473x315.jpg" class="img-fluid">
                </a>
            </p>
        </div>
        <div class="row-technology">
            <h5 style="margin-left: 20pt;">&#128313; Safety</h5>
            <p style="margin-left: 20pt; text-align: justify;">Safety is built into <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span>. Unlike the majority of materials used for Climbing holds &#8211; <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> will not crack and give rise to a sudden safety issue &#8211; rather it will bend if put under extreme conditions. <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> has extremely high Impact and strength resistance even in badly designed climbing holds. Its superior properties can to some degree absorb and make safe design errors. Holds made from <span style="color: black;"><strong><span style="color: #216b93;">D</span>annom♦nd</strong></span> are suitable on almost all surfaces from plywood to concrete.</p>
        </div>
        <div class="row-technology"><p>The use of the first-rate type of polyurethane and careful control of every stage of producing process make Vertex climbing holds of top quality.</p></div>
        <div class="row-technology">
            <h5 style="margin-left: 20pt;">&#128313; Attachment system</h5>
            <div class="d-flex">
                <div class="w-50 pr-4">
                    <p>
                        Bolt<br />
                        <img class="w-75"
                             src="https://www.vertex-holds.com/wp-content/uploads/2016/06/ganoid_05_1600x840-600x315.jpg"
                             alt="technology_bolt">
                    </p>

                </div>
                <div class="w-50">
                    <p>
                        Excavated volumes<br />
                        <img class="w-75" src="https://www.vertex-holds.com/wp-content/uploads/2016/06/ganoid_06_1600x840-600x315.jpg"
                             alt="technology_reducers" />
                    </p>

                </div>
            </div>
            <div class="d-flex">
                <div class="w-50 pr-4">
                    <p style="text-align: justify;">Each one of our climbing holds has its own bolt depending on the depth of the fixation hole. That way the head of the bolt is on the surface of the hold. There is no risk the climber to use the hole where is the bolt in case that the bolt is short and cause himself an injury during his climbing.</p>
                    <p style="text-align: justify;">We offer our sets with bolts with conic head by default. If our clients prefer bolts with cylindrical heads that have to be specified during the ordering process.</p>
                </div>
                <div class="w-50">
                    <p>That reduces their weight and makes them easier for assembling routes on the climbing walls.</p>
                </div>
            </div>
        </div>
        <div class="row-technology">
            <h5 style="margin-left: 20pt;">&#128313; Maintenance</h5>
            <p style="text-align: justify;">Once the holds are screwed into the wall, it is normal for them to become dirty from the hands covered with magnesium and climbing shoes. With time, that can affect the grid quality and the safety and pleasure of your climb. We advise you to check the conditions of the holds and to clean them periodically.</p>
        </div>

    </div>
</section>
