@using Vxp.Web.Areas.Customer
<ul class="nav flex-column flex-nowrap nav-pills">

    <li class="nav-item">
        <a class="btn btn-primary w-100 text-left" data-toggle="collapse" href="#vendor-manage-categories">Products</a>
        <div id="vendor-manage-categories" class="collapse show">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link vxp-underline-primary @CustomerNavPages.IndexNavClass(ViewContext)" asp-area="Customer" asp-controller="Products" asp-action="Index"><span>List</span></a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary w-100 text-left" data-toggle="collapse" href="#vendor-manage-distributors">Distributors</a>
        <div id="vendor-manage-distributors" class="collapse show">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link vxp-underline-primary @CustomerNavPages.DistributorsListNavClass(ViewContext)" asp-area="Customer" asp-controller="Distributors" asp-action="Index"><span>List</span></a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary w-100 text-left" data-toggle="collapse" href="#vendor-manage-projects">Projects</a>
        <div id="vendor-manage-projects" class="collapse show">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link vxp-underline-primary @CustomerNavPages.ProjectsListNavClass(ViewContext)" asp-area="Customer" asp-controller="Projects" asp-action="Index"><span>List</span></a></li>
            </ul>
        </div>
    </li>
   

</ul>