.login-form {
    width: 100%;
}

.js-full-height {
}

.ftco-navbar-light.scrolled img {
    width: 150px;
}

.row-technology {
    margin-top: 30pt;
}

#privacy-section p{
    text-align: justify;
}

#button-login {
    margin-top: -6px;
}

.w-33 {
    width: 33% !important;
}