.login-form {
    width: 100%;
}

.js-full-height {
}

.ftco-navbar-light.scrolled img {
    /*width: 150px;*/
}

.row-technology {
    margin-top: 30pt;
}

#privacy-section p {
    text-align: justify;
}

#button-login {
    margin-top: -6px;
}

.w-33 {
    width: 33% !important;
}

#cookieConsentWrapper {
    margin-top: 100pt;
}

    #cookieConsentWrapper > div {
        z-index: 1000;
        width: 90%;
        margin: 0 auto;
        -ms-opacity: 0.6;
        opacity: 0.6;
    }

.vxp-section {
    padding: 7rem 0;
    position: relative;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: inherit;
    border: 1px solid #ddd;
}

.page-item.active .page-link {
    background-color: #6E5773;
    border-color: #6E5773;
}

.dataTables_wrapper .dataTables_length label {
}
