@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = this.Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsentWrapper" class="fixed-bottom ftco-animate">
        <div id="cookieConsent" class="row alert alert-info alert-dismissible fade show bg-primary text-light" role="alert">
            <div class="col-md-10 col-sm-9">
                @*  Use this space to summarize your privacy and cookie use policy. <a asp-area="" asp-controller="Home" asp-action="Privacy">Learn More</a>.*@
                <p>This web application uses cookies to recognize your browser or device, in order to provide you a better service. Please check our <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-light "><mark class="bg-light text-dark rounded">privacy policy</mark></a>  and accept the cookie usage here.</p>
            </div>
            <div class="col-md-2 col-sm-3">
                <button type="button" class="accept-policy close bg-light text-dark " data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                    <span aria-hidden="true">Accept</span>
                </button>
            </div>
        </div>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
