<footer class="ftco-footer ftco-section" id="about-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2"><span>VERTEX DESIGN</span></h2>
                    <p>
                        Every single hold is made with passion and heart just like when we do art.<br />
                        We work with great attention to the detail. Every set is made as if to take part in an exhibition. <br />
                        <span class="text-white">
                            Vertex
                        </span> products have a unique design that will definitely make you love climbing even more! Vertex Design is the <span class="text-white">love</span> of climbing.<br />
                        The <span class="text-white">passion</span> in sculpturing.<br />
                        And <span class="text-white">creativity</span>.
                    </p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
                        <li><a href="https://www.vertex-holds.com/aboutus/" target="_blank"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
                        <li><a href="https://www.vertex-holds.com/contacts/" target="_blank"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2"><span>Products</span></h2>

                    <ul class="list-unstyled">
                        <li><h5 class="text-light">Volumes</h5></li>
                        <li><a href="https://www.vertex-holds.com/volumes/" target="_blank"><span class="icon-long-arrow-right mr-2"></span>Da Vinci</a></li>
                    </ul>
                    <br />
                    <ul class="list-unstyled">
                        <li><h5 class="text-light">Holds</h5></li>
                        <li><a href="https://www.vertex-holds.com/holds/?filter_range=hybrid&query_type_range=or" target="_blank"><span class="icon-long-arrow-right mr-2"></span>Hybrid</a></li>
                        <li><a href="https://www.vertex-holds.com/holds/?filter_range=out-of-space&query_type_range=or" target="_blank"><span class="icon-long-arrow-right mr-2"></span>Out of space</a></li>
                        <li><a href="https://www.vertex-holds.com/holds/?filter_range=terraneous&query_type_range=or" target="_blank"><span class="icon-long-arrow-right mr-2"></span>Terraneous</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-0">
                        <ul>
                            <li>
                                <a href="https://www.vertex-holds.com/contacts/" target="_blank">
                                    <span class="icon icon-map-marker"></span><span class="text">16b Marno Pole St., Veliko Tarnovo 5000, Bulgaria</span>
                                </a>
                            </li>
                            <li>
                                <a href="tel:+359 889 300 157">
                                    <span class="icon icon-phone"></span><span class="text">+359 889 300 157</span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:office@vertexdesign.com">
                                    <span class="icon icon-envelope"></span><span class="text">office@vertexdesign.com</span>
                                </a>
                            </li>
                            <li>
                                <span class="icon icon-gears"></span><span class="text">We're open Monday – Friday, 8 am – 5 pm EEST</span>
                            </li>
                        </ul>
                    </div>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
                        <li class="ftco-animate"><a href="https://twitter.com/VertexHolds"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/vertex.climbing.holds"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.pinterest.com/vertexdesign/"><span class="icon-pinterest"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved
                    @*| This template is made with <i class="icon-heart color-danger"
                        aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>*@
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>