<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - VERTEX</title>

    <environment names="Development">

        <link rel="icon" href="@Url.Content("~/images/favicon.png")" />

        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />

        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" asp-append-version="true" rel="stylesheet">

        <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true">

        <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/owl.theme.default.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true">

        <link rel="stylesheet" href="~/css/aos.css" asp-append-version="true">

        <link rel="stylesheet" href="~/css/ionicons.min.css" asp-append-version="true">

        <link rel="stylesheet" href="~/css/bootstrap-datepicker.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/jquery.timepicker.css" asp-append-version="true">

        <link rel="stylesheet" href="~/css/flaticon.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/icomoon.css" asp-append-version="true">


        <link href="~/css/ekko-lightbox.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />


        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" asp-append-version="true" rel="stylesheet">

        <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true">

        <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/owl.theme.default.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true">

        <link rel="stylesheet" href="~/css/aos.css" asp-append-version="true">

        <link rel="stylesheet" href="~/css/ionicons.min.css" asp-append-version="true">

        <link rel="stylesheet" href="~/css/bootstrap-datepicker.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/jquery.timepicker.css" asp-append-version="true">

        <link rel="stylesheet" href="~/css/flaticon.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/icomoon.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target"
             id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/vertex-logo6.png" width="250" />
                </a>
                <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse"
                        data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>

                <div class="collapse navbar-collapse" id="ftco-nav">


                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main id="main">
        @this.RenderBody()
    </main>
    <partial name="_CookieConsentPartial" />
    <partial name="_FooterPartial" />


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>

        <script src="~/js/jquery-migrate-3.0.1.min.js" asp-append-version="true"></script>
        <script src="~/js/popper.min.js" asp-append-version="true"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>

        <script src="~/js/jquery.easing.1.3.js" asp-append-version="true"></script>
        <script src="~/js/jquery.waypoints.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.stellar.min.js" asp-append-version="true"></script>
        <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
        <script src="~/js/aos.js" asp-append-version="true"></script>
        <script src="~/js/jquery.animateNumber.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap-datepicker.js" asp-append-version="true"></script>
        <script src="~/js/jquery.timepicker.min.js" asp-append-version="true"></script>
        <script src="~/js/scrollax.min.js" asp-append-version="true"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false" asp-append-version="true"></script>
        <script src="~/js/google-map.js" asp-append-version="true"></script>
        <script src="~/js/ekko-lightbox.js" asp-append-version="true"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>

        <script src="~/js/jquery-migrate-3.0.1.min.js" asp-append-version="true"></script>
        <script src="~/js/popper.min.js" asp-append-version="true"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>

        <script src="~/js/jquery.easing.1.3.js" asp-append-version="true"></script>
        <script src="~/js/jquery.waypoints.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.stellar.min.js" asp-append-version="true"></script>
        <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
        <script src="~/js/aos.js" asp-append-version="true"></script>
        <script src="~/js/jquery.animateNumber.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap-datepicker.js" asp-append-version="true"></script>
        <script src="~/js/jquery.timepicker.min.js" asp-append-version="true"></script>
        <script src="~/js/scrollax.min.js" asp-append-version="true"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false" asp-append-version="true"></script>
        <script src="~/js/google-map.js" asp-append-version="true"></script>

        <script src="~/js/ekko-lightbox.min.js" asp-append-version="true"></script>

        <script src="~/js/main.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
