@model bool

@{
    var animate = @Model ? "ftco-animate" : String.Empty;
}

<div class="h-50 col-md-6 @animate" data-scrollax=" properties: { translateY: '70%' }">
    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
        Climbing, Passion, Creativity
    </h1>
    <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
        Every <span class="font-weight-bold">vertex</span> climbing hold is a piece of art that worships nature and pure imagination.
    </p>
    <p>
        <a href="#" class="w-33 btn btn-primary py-3 text-nowrap" data-toggle="modal" data-target="#modalAppointment">
            Request Access
        </a>
    </p>
</div>