

<h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
    Climbing, Passion, Creativity
</h1>
<p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
    Every <span class="font-weight-bold">vertex</span> climbing hold is a piece of art that worships nature and pure imagination.
</p>
<p>
    <a asp-area="Identity" asp-page="/Account/Register" class="w-33 btn btn-primary py-3 text-nowrap">
        I Have a key
    </a>
</p>
