@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="vxp-section pr-5">

    <div class="row">
        <div class="col-md-2">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
