@model Vxp.Web.ViewModels.Orders.OrderInputModel
@{
    ViewData["Title"] = "Order details";
}
<h4>@ViewData["Title"]</h4>

<partial name="Orders/_OrderNewPartial" />

@section Scripts
{
    <script src="/js/order-new-remove-confirmation.js"></script>
}