@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="vxp-section pr-2">
    <div class="row">
        <div class="col-md-2 nowrap">
            <partial name="_DistributorNav" />
        </div>
        <div class="col-md-10">@RenderBody()</div>
    </div>
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}