@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="hero-wrap js-full-height" style="background-image: url('@Url.Content("~/images/bg_2.jpg")');" data-section="home">
    <div class="overlay"></div>
    <div class="container">

        <div class="row no-gutters slider-text js-full-height align-items-center justify-content-end"
             data-scrollax-parent="true">


            <div class="h-50 col-md-6 pr-5 ftco-animate">
                <form method="post">
                    <div class="form-group mt-3">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-33 btn btn-primary py-3 px-4">Submit</button>
                </form>
            </div>


            <partial name="_RequestAccessPartial" model="@false" />

        </div>
    </div>
</section>
<partial name="_GuestPartial" />