@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="w-50 ftco-animate pr-5" data-scrollax=" properties: { translateY: '70%' }">
    <div class="h-20 mb-3"></div>

    <form method="post">
        <div class="form-group mt-3">
            <input asp-for="Input.Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="w-33 btn btn-primary py-3 px-4">Submit</button>
    </form>
</div>
<div class="w-50" data-scrollax="properties: { translateY: '70%' }">
    <div class="h-20"></div>
    <partial name="_RequestAccessPartial" />
</div>