@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<section class="hero-wrap js-full-height" style="background-image: url('@Url.Content("~/images/bg_2.jpg")');" data-section="home">
    <div class="overlay"></div>
    <div class="container">

        <div class="row no-gutters slider-text js-full-height align-items-center justify-content-end"
             data-scrollax-parent="true">


            <div class="h-50 col-md-6 pr-5 ftco-animate">
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox text-light">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <button type="submit" class="w-33 btn btn-primary py-3 px-4" id="button-login">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" class="text-light" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                    </div>
                </form>
            </div>


            <partial name="_RequestAccessPartial" model="@false" />

        </div>
    </div>
</section>
<partial name="_GuestPartial" />