@model Vxp.Web.Areas.Administration.ViewModels.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

@*<h1>@this.ViewData["Title"]</h1>
Settings: @this.Model.SettingsCount*@


    <section class="hero-wrap js-full-height" style="background-image: url('@Url.Content("~/images/bg_2_.jpg")');" data-section="home">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-full-height align-items-center justify-content-end"
                 data-scrollax-parent="true">


                


            </div>
        </div>
    </section>