@model int
<a asp-controller="Orders" asp-action="OrderNew">
    <span class="vxp-card-order-preview icon icon-shopping-basket" title="Preview">
        <span class="badge badge-pill vxp-card-order-badge">@Model</span>
    </span>
</a>